.Search{
    position: relative;
}

.PropertySearch{
    position: absolute;
    top: 20%;
	z-index: 10;
    width: 80vw;
    left: 10vw;
}

@media (min-width: 576px) { 
    .PropertySearch{
        top: 40%;
    }
}