.Testimonial{
    height: 80vh;
    background-image:url('/images/smoothies-for-summer.jpg');
}

@media (min-width: 576px) { 
    .Testimonial{
        height: 75vh;
    }
}

@media (min-width: 768px) {
    .Testimonial{
        height: 57vh;
    }
}

@media (min-width: 992px) {
    .Testimonial{
        height: 50vh;
    }
}

@media (min-width: 1200px) {
    .Testimonial{
        height: 45vh;
    }
}